<div class="container change-password">
    <div class="row">
        <div class="col-md-12">
            <strong>Change password</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form id="form-change-password" action="" method="post">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="form_password">Current password</label>
                        <input type="password" name="current_password" class="form-control" id="form_password"
                            placeholder="Password">
                        <div id="form-help-current-password" class="form-text"></div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="form_newpassword">New password</label>
                        <input type="password" name="new_password" class="form-control" id="form_newpassword"
                            placeholder="Password">
                        <div id="form-help-new-password" class="form-text"></div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="form_password_confirm">Retype your password</label>
                        <input type="password" name="password_confirm" class="form-control" id="form_password_confirm"
                            placeholder="Retype your password">
                        <div id="form-help-password-confirm" class="form-text"></div>
                    </div>
                    <div class="d-grid gap-2">
                        <button
                          type="submit"
                          class="btn btn-primary btn-block mt-2">Change password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>