<blockquote>
    Sorry, you don't have access to see a simple dashboard.
    Please verify your email first. If you didn't receive email verification yet,
    <a href="/resend-verification">Click here</a> to verify your email.
</blockquote>