<div class="container mb-3 mt-3">
    <div class="d-flex justify-content-between">
        <div class="logo"></div>
        <div class="opsi">
            <a href="/" class="btn btn-primary">Home</a>
            <a href="/dashboard" class="btn btn-primary">Dashboard</a>
            <a href="/profile" class="btn btn-primary">Profile</a>
            <a href="/logout" class="btn btn-primary">Logout</a>
        </div>
    </div>
</div>